<span CLASS="ClassHead">
<table width="100%" bgcolor="#eeeeee">
  <tr>
    <td nowrap><a class="DocLink" HREF="index.html"><span CLASS="ClassName"><b>Table of contents</b></span></A></td>
    <td>&nbsp;<b>|</b>&nbsp;</td>
    <td nowrap><A class="DocLink" HREF="indices.html"><span CLASS="ClassName"><b>Index</b></span></A></td>
    <td width="100%">&nbsp;</td>
  </tr>
</table>
</span>
